<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initialscale=1, maximum-scale=1.0, user-scalable=no" />
	<link href="/webjars/materializecss/0.96.0/css/materialize.css"
		type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<title>Spring Application</title>
</head>
<body>

	<!-- NAVI -->
	<div class="navbar-fixed">
	<!-- Dropdown Structure -->
	<ul id="dropdown-lang" class="dropdown-content">
		<li><a href="?lang=pl" class="waves-effect waves-light"><span th:text="#{lang.polish}" class="light-blue-text text-darken-4">Polish</span></a></li>
		<li><a href="?lang=en" class="waves-effect waves-light"><span th:text="#{lang.english}" class="light-blue-text text-darken-4">English</span></a></li>
	</ul>
	<!-- Dropdown Structure if is not authenticated -->
	<ul id="dropdown-profile" class="dropdown-content">
		<li><a href="#!" class="waves-effect waves-light"><span th:text="#{profile.login}" class="light-blue-text text-darken-4">Log in</span></a></li>
		<li><a href="#!" class="waves-effect waves-light"><span th:text="#{profile.create}" class="light-blue-text text-darken-4">Create</span></a></li>
	</ul>
	
	<nav class="light-blue darken-1">
		<div class="nav-wrapper">
			<ul class="left">
			<li>
				<a th:href="@{/}" class="waves-effect waves-light"><i class="mdi-action-home left"></i></a>
			</li>
			</ul>
			
			<!-- <ul class="right hide-on-med-and-down"> -->
			<ul class="right">
				<li>
					<a href="#!" class="waves-effect waves-light"><span th:text="#{navi.blog}">Blog</span><i class="mdi-action-track-changes right"></i></a>
				</li>
				<li>
					<a href="#!" class="waves-effect waves-light"><span th:text="#{navi.chat}">Chat</span><i class="mdi-communication-message right"></i></a>
				</li>
				<!-- Dropdown Trigger -->
				<li>
				<a class="dropdown-button" data-beloworigin="true" href="#!" 
					data-activates="dropdown-profile" data-hover="true">
					<span th:text="#{navi.profile}">Profile</span><i class="mdi-action-account-box right"></i></a>
					
				</li>
				<!-- Dropdown Trigger -->
				<li>
				<a class="dropdown-button" data-beloworigin="true" href="#!"
					data-activates="dropdown-lang" data-hover="true">
					<span th:text="#{lang}">Language</span><i class="mdi-action-language right"></i>
				</a>
				</li>
			</ul>
		</div>
	</nav>
	</div>
	<!-- /NAVI -->
	<div class="container">
	<!--  CONTENT -->

		<section layout:fragment="content">
			<p>page content</p>
		</section>

	<!--  /CONTENT -->
	</div>

	<!-- SCRIPTS -->
	<script type="text/javascript" layout:fragment="script">
	</script>
	<script src="/webjars/jquery/2.1.4/jquery.js"></script>
	<script src="/webjars/materializecss/0.96.0/js/materialize.js"></script>
	<script type="text/javascript">
      $(".dropdown-button").dropdown();
    </script>
	<!-- /SCRIPTS -->
</body>
</html>