<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
		  <script src="/js/tinymce/tinymce.min.js"></script>
		  <script src="/js/tinymce/tinymce.js"></script>
	</div>

	<div layout:fragment="content">
		<!-- CONTENT -->

		<div class="row">
			<div class="col s12">
				<h2 th:text="#{blog.title}" class="orange-text text-darken-3">Hello
					on a page</h2>
				<span th:text="#{blog.message}" class="flow-text">Welcome
					message</span>
					
			</div>
		</div>
		<!-- 
		private long id; 
		private String title;
    	private String content;
		 -->
		 <form id="blogform" th:action="@{/blog/create}" method="post"
				th:object="${blogForm}">
				<div class="row">
					<div class="input-field col s12">
						<div th:errors="*{title}" class="red-text">error</div>
						<input th:field="${blogForm.title}" id="title" name="title"
							type="text" th:errorclass="invalid" th:placeholder="#{blog.enter.title}" />
							
						<div th:errors="*{content}" class="red-text">error</div>	
						<textarea th:field="${blogForm.content}" id="content" name="content"></textarea>
									
						<input th:field="${blogForm.id}" id="id" type="hidden"/>
					</div>
					</div>
					<div class="row">
					<div class="col s12">
								<button class="btn waves-effect waves-light orange darken-3 right"
							type="submit" name="update">
							<span th:text="#{blog.create}"></span><i class="mdi-content-send right"></i>
						</button>
					</div>
				</div>
				</form>

			
			
			


		<!-- /CONTENT -->
	</div>
</body>
</html>