<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
		<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
		<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
		<script th:src="@{/js/chat.js}"></script>
	</div>
	<div layout:fragment="content">
		<!-- CONTENT -->
		<!-- PAGE WELCOME -->
		<div class="row">
			<div class="col s12">
				<h2 th:text="#{chat.title}" class="orange-text text-darken-3">Hello
					on a page</h2>
				<span th:text="#{chat.message}" class="flow-text">Welcome
					message</span>
			</div>
		</div>
		<!-- /PAGE WELCOME -->
		<!-- NO SCRIPT WARNING -->
		<noscript>
			<h3 style="color: #ff0000"></h3>
			<div id="errorMessage" class="card-panel red lighten-2">
				<span class="card-title" th:text="#{chat.javascript.error}">no
					javascript</span>
			</div>
		</noscript>
		<!-- /NO SCRIPT WARNING -->
		<!-- CONNECT/DISCONNECT -->
		<div class="row">
			<div class="col s12">
				<form class="form-inline">
					<button id="connect"
						class="btn waves-effect waves-light cyan darken-3" type="submit">
						<span th:text="#{chat.join}"></span><i
							class="mdi-communication-chat right"></i>
					</button>
					<button id="disconnect"
						class="btn waves-effect waves-light orange darken-3" type="submit"
						disabled="disabled">
						<span th:text="#{chat.quit}"></span><i
							class="mdi-action-exit-to-app right"></i>
					</button>
				</form>
			</div>
		</div>
		<!-- /CONNECT/DISCONNECT -->
		<!-- CHAT WINDOW -->
		<div class="row cyan lighten-1" style="border: 1px solid #BDBDBD;">
				<div class="col s10 grey lighten-4" id="messages" style="overflow-y: scroll; overflow-x: hidden; height: 400px; padding-top: 10px;">
					<p>...</p>
				</div>
			
			<div class="col s2">
				<h5>Online:</h5>
			</div>
			<div class="col s2">
			<div id="users" style="overflow: auto; width: 100%; height:">

			</div>
			</div>
			</div>
			<div class="row">
				<div class="col s12">
				<form style="display:inline;">
					<input autocomplete="off" type="text" id="message"
						th:placeholdert="#{chat.your.message}" />
					<button id="send" disabled="disabled" class="btn cyan darken-3"
						type="submit">Send</button>
						
			</form>
				</div>
			</div>
			<div class="row red">
			

		</div>
		<!-- CHAT WINDOW -->
		<form>
			<!-- <input type="hidden" id="name" th:value="${name}" /> -->
			<input type="hidden" id="name" th:value="${name}" />
		</form>
		<!-- /CONTENT -->
	</div>
</body>
</html>