<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col s12">
			<h5>Find one:</h5>
				<span class="flow-text" th:text="${vehicle1}"></span><br/>
			</div>
		</div>
		<div class="row">
		<div class="col s12">
		
		<h5>Find all:</h5>
		    <ul th:each="vehicle : ${vehicles}">
        		<li th:text="|${vehicle.vehicleNo} ${vehicle.color} |" class="flow-text">1</li>
    		</ul>
		</div>
		</div>
		
				<div class="row">
		<div class="col s12">
		
		<h5>Single result:</h5>
		    	<span class="flow-text" th:text="${count}"></span><br/>
		    	<span class="flow-text" th:text="${color}"></span><br/>
		</div>
		</div>
	</div>
</body>
</html>