<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<!-- PAGE TITLE -->
			<div class="col s12" sec:authorize="isAuthenticated()">
				<h2 th:text="#{profile.edit.profile.title}"
					class="orange-text text-darken-3"></h2>
			</div>
		</div>
		<!-- AVATAR -->
		<div class="row" sec:authorize="isAuthenticated()">
			<div class="col m8 s12 offset-m2">
				<img th:src="@{/useravatar}" width="100" height="100" />
			</div>
			<div class="col s12 center red-text" th:text="${error}"
				th:if="${error}">file upload error</div>
			<form th:action="@{/profile/uploadAvatar}" method="post"
				enctype="multipart/form-data" class="col m8 s12 offset-m2">
				<div class="input-field col s6">
					<input type="file" id="file" name="file" />
				</div>
				<div class="col s6 center">
				<!--  http://markusslima.github.io/bootstrap-filestyle/  ??-->
					<button class="btn indigo waves-effect waves-light orange darken-3" type="submit"
						name="upload" th:text="#{upload}">
						Załaduj <i class="mdi-content-send right"></i>
					</button>
				</div>
			</form>
		</div>
		<!-- /AVATAR -->
		<form th:action="@{/profile/edit}" method="post"
			th:object="${profileForm}">
			<!-- USERNAME -->
			<div class="row" sec:authorize="isAuthenticated()">
				<div class="input-field col s12" >
					<h5 th:text="${profileForm.username}"
						class="orange-text text-darken-3">Profile name</h5>
					<input th:field="${profileForm.username}" id="username"
						type="hidden" th:errorclass="invalid" />
				</div>
			</div>
			<!-- /USERNAME -->
			<!-- FIELDS -->
			<div class="row">
				<div class="input-field col s6">
					<input th:field="${profileForm.name}" id="name" type="text"
						th:errorclass="invalid" /> <label for="name"
						th:text="#{profile.name}">profile name</label>
					<div th:errors="*{name}" class="red-text">error</div>
				</div>
				<div class="input-field col s6">
					<input th:field="${profileForm.email}" id="email" type="text"
						th:errorclass="invalid" /> <label for="email"
						th:text="#{profile.email}">email</label>
					<div th:errors="*{email}" class="red-text">error</div>
				</div>
			</div>
			<!-- /FIELDS -->
			<!-- SAVE/CREATE BUTTON -->
			<div class="row">
			
			<div class="col s12" sec:authorize="isAuthenticated()">
				<button class="btn waves-effect waves-light orange darken-3"
					type="submit" name="update" th:text="#{update}">
					Wyślij <i class="mdi-content-send right"></i>
				</button>
			</div>
			</div>
		</form>
	</div>
</body>
</html>